<div class="row hero jumbotron">
	<div class="gradient">
		<div class="container">
			<div class="col-md-8">
				<h1>Y'all ready to contrib?</h1>
				<p class="lead">Y'all Contrib is a site that empowers our community to help us tell stories.</p>
			</div>
		</div>
	</div>
</div>
<main role="main" class="container">
	<% if current_user != nil %>
		<% if current_user.is_admin? %>
			<p>YOU ARE AN ADMINISTRATOR</p>
		<% else %>
			<p>NOT AN ADMIN</p>
		<% end %>
	<% end %>
	<div class="row">
		<div class="col-md-12">
			<%= render @prompts %>
		</div>
	</div>
</main>