/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Roboto:300,700);
@import "bootstrap-sprockets";
@import "bootstrap";
$green: #e0ffc9;
$yellow: #fff0ba;

h1, h2, h3, h4, h5 {
	font-family: 'Roboto', sans-serif;
}

a{
	color:#008b8b;
}

p {
	font-family: 'Roboto', sans-serif;
}

.row.hero {
	background-image: url('http://voxholder.herokuapp.com/1200/400');
	/*background-image: url('/assets/placeholder-68e7285700bc26f70cb3af9227dee318f45e2a1e70c59929c861e07279984f0a.jpg');*/
	background-position: center;
	background-size: cover;
	margin-top:-20px;
	padding:0px;
	.gradient{
		padding:3em 0;
		background: rgba(0, 0, 0, .5);
	}
	h1,p {
		color:#fff;
	}
	h4 {
		text-transform: uppercase;
		color:#ccc;
		font-weight:bold;
	}
}

.approved h4, .moderation h4{
	text-transform: uppercase;
	display:inline-block;
	font-weight:bold;
	font-size:1em;
}
.approved {
	background-color: $green;
	h4 {
		color: darken($green, 60%);
	}
}

.moderation {
	background-color: $yellow;
	h4 {
		color: darken($yellow, 60%);
	}
}